<h1>Welcome to the Vowel Game!</h1>
<p>
  The game is simple, just input a word, phrase or sentence into the input field below and click "Play!". Next, find a friend and have them try and guess the word, phrase or sentence. Have fun!
</p>
<form action="/results">
  <label for="vowelGame">Stump your friend!:</label>
  <input type="text" name="vowelGame" id="vowelGame">
  <button type="submit">Play!</button>
</form>
