<!DOCTYPE html>
<html>
  <head>
    <title>Planet Tracker</title>
    <link href = "/css/bootstrap-3.3.6-dist/css/bootstrap.css" rel = "stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Poiret+One|Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/jquery-1.12.2.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/css/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
  </head>
  <body>
    <h1 class="center apply-font">Planet Tracker</h1>
    <div class = "container">
      <hr>
      #parse($template)
    </div>
  </body>
</html>
