<!DOCTYPE html>
<html>
  <head>
    <title>The Vowels Game</title>
    <link href = "/css/bootstrap-3.3.6-dist/css/bootstrap.css" rel = "stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/jquery-1.12.2.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/css/bootstrap-3.3.6-dist/js/bootstrap.js"></script>

    </script>
  </head>
  <body>
    <div class = "container">
      #parse($template)
    </div>
  </body>
</html>
