<div class="center">
#if ($user)
  <h3 class="font">$user.getName()</h3>
#else
  <br>
  <br>
  <br>
  <br>
  <h1>Error: Not Found</h1>
#end

#foreach($planet in $planets)
    <li class="font-shadow">$planet.getName()</li>
    <li class="font-shadow">$planet.getAzimuth()</li>
    <li class="font-shadow">$planet.getElevation()</li>
    <li class="font-shadow">$planet.getPlanetTime()</li>
#end
</div>
